@import "tailwindcss";

:root {
  --background: #f5f7fb;
  --foreground: #0f172a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background:
    radial-gradient(circle at 0% 0%, #d1fae5 0, transparent 30%),
    radial-gradient(circle at 100% 0%, #bfdbfe 0, transparent 25%),
    var(--background);
  color: var(--foreground);
}
